/* CSS Document */

.retorno-senha{display:none}
.error-login{display:none}

.overlay-video{width:100%; height:100%; position:absolute; overflow:hidden}
.ytplayer-container{position: absolute; top: 0;}

.avisos-loja{border-radius:0; background-color:#ACE1C1; color:#3C763D; padding:15px 0 15px 0; font-size:16px; margin-bottom:0px}

.table > tbody > tr > td {color:#333}
.table > tbody > tr > td a{color:#333}
.table > tbody > tr > td a:hover{text-decoration:underline}

.badge-categorias {
  padding: .35em .5em;
  border-radius:6px;
}

.tab-pane h5 i{margin-right:4px}

.img-admin {
    padding: 0;
    background-color: #ffffff;
    height: 60px;
    width: 50px;
	text-align:center; line-height:30px;
	vertical-align: middle;
}

.img-banner-admin{
	padding: 0;
    height: 50px;
    width: 100px;
	text-align:center;
	vertical-align: middle;
}

.img-admin img{max-height:35px; max-width:35px; vertical-align: middle; margin-top:13px}
.img-banner-admin img{max-height:30px; max-width:150px; vertical-align: middle; margin-top:10px}

.no-border{border:0; border-top:0}
.txt-riscado{text-decoration: line-through;}
.input-ajuste{text-align:center}
.padding-zero{padding:0;}

body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
  background-color:red;
}

ol.example li.placeholder {
  position: relative;
  /** More li styles **/
}
ol.example li.placeholder:before {
  position: absolute;
  /** Define arrowhead **/
}


hr {
	  border-top: 1px solid #EBEBEB;
      color:#EBEBEB;
      background-color:#EBEBEB;
      height: 3px;
    }

.ajusta_altura{ line-height: 140px }
.ajusta_altura2{ line-height: 90px }

.cor-porcentagem{ color: #2AC39A }
.historico hr{ height: 1px }